<div class="container-fluid">
  <div class="row">
  <br><br>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel" style="opacity:.8">
        <div class="panel-body">
          <div style="border: 0px solid #d43a2c; border-radius: 6px; ">
          <div style="width:80%; margin-left:10%">

            <div class="" style="font-family:'Unica One'; font-size:5em; text-align:center; width:100%">
                  <span style="color:black">The</span><span style="color:#d43a2c; text-transform:uppercase;">me</span><span style="color:black; font-size:.7em">.fyi</span>
            </div>
              <!-- <img src="http://i.imgur.com/lQv981o.png" style="text-align:center; width:28em; margin-left:auto; margin-right: auto; display: block;"> -->
            <div>
              <h2 style="text-align:center; color:#481212; margin-top:-10px; font-size:2.5em; font-family:'Josefin Sans'">the intersection of <span style="color:#d43a2c">them</span> & <span style="color:#d43a2c">me</span></h2>

              <div>
                <button type="button" class="btn btn-link faq-question" data-toggle="collapse" data-target="#q1"><i class="fa fa-question-circle header-icon" aria-hidden="true"></i> What's this site all about?</button>
                <div id="q1" class="collapse faq-answer">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>

              <div>

                <button type="button" class="btn btn-link faq-question" data-toggle="collapse" data-target="#q2"><i class="fa fa-question-circle header-icon" aria-hidden="true"></i> Who done it?</button>
                <div id="q2" class="collapse faq-answer">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>


                <button type="button" class="btn btn-link faq-question" data-toggle="collapse" data-target="#q3"><i class="fa fa-question-circle header-icon" aria-hidden="true"></i> Why?</button>
                <div id="q3" class="collapse faq-answer">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>

              <button type="button" class="btn btn-link faq-question" data-toggle="collapse" data-target="#q4"><i class="fa fa-question-circle header-icon" aria-hidden="true"></i> What's next?</button>
                <div id="q4" class="collapse faq-answer">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
              

              
              <a href="/signup" role="button" class="btn btn-info" style="width:80%; opacity:1; text-transform: normal; margin-left: 10%; margin-top: 19px; margin-bottom: 3%;" ng-click="  authenticate('facebook')">  <i class="fa fa-facebook-official" style="font-size: 1.8em; vertical-align: -2px;
                margin-right: 10px;" aria-hidden="true"></i> Go ahead. <span style="color:white">Meet yourself.</a></span>
            </div>
          </div>
          </div>
        </div>
      </div>
      
      <br><br>
    </div>
  </div>
</div>
