<div class="container-fluid">
  <div class="row">
  <br><br>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel" style="opacity:.8">
        <div class="panel-body">
          <div style="border: 0px solid #d43a2c; border-radius: 6px; ">
          <div style="width:80%; margin-left:10%">

            <div class="" style="font-family:'Unica One'; font-size:5em; text-align:center; width:100%">
                  <span style="color:black">The</span><span style="color:#d43a2c; text-transform:uppercase;">me</span><span style="color:black; font-size:.7em">.fyi</span>
            </div>
              <!-- <img src="http://i.imgur.com/lQv981o.png" style="text-align:center; width:28em; margin-left:auto; margin-right: auto; display: block;"> -->
            <div>
              <h2 style="text-align:center; color:#481212; margin-top:-10px; font-size:2.5em; font-family:'Josefin Sans'">the intersection of <span style="color:#d43a2c">them</span> & <span style="color:#d43a2c">me</span></h2>

              <div>
                <button type="button" class="btn btn-link faq-question" data-toggle="collapse" data-target="#q1"><i class="fa fa-question-circle header-icon" aria-hidden="true"></i> What's this site all about?</button>
                <div id="q1" class="collapse faq-answer">
                  Data. Your data. My data. Our data. Let's pool it out, and see what surprising, alarming, amazing, inspiring connections we can find. Learn about yourself, and learn about all of us.
                </div>
              </div>

              <div>

                <button type="button" class="btn btn-link faq-question" data-toggle="collapse" data-target="#q2"><i class="fa fa-question-circle header-icon" aria-hidden="true"></i> OK, but really?</button>
                <div id="q2" class="collapse faq-answer">
                  Really! Information about you is already all over the Internet. Why not own it, and actually learn something interesting from it about yourself? 
                </div>
              </div>


                <button type="button" class="btn btn-link faq-question" data-toggle="collapse" data-target="#q3"><i class="fa fa-question-circle header-icon" aria-hidden="true"></i> Who made this?</button>
                <div id="q3" class="collapse faq-answer">
                  TheMe.fyi was hand-designed and coded by Shai Davis as his final project for Elevation Academy. It's his first MEAN stack application, built head to toe. Shai is an independent full-stack product team who runs <a href="http://www.startlelabs.com">StartleLabs</a>, a consulting agency for young startups.
                </div>
              </div>

              <button type="button" class="btn btn-link faq-question" data-toggle="collapse" data-target="#q4"><i class="fa fa-question-circle header-icon" aria-hidden="true"></i> What's next?</button>
                <div id="q4" class="collapse faq-answer">
                  Oh so much! There are still bugs to quash and features to build! The whole custom reporting is still mostly an idea. Do you have a background in statistics and mean MEAN skills? Also, I plan to allow users to upload their own questions (and at least for now, have them approved by administrators). There are 100 different directions this can go in, but first I might finally catch a few hours of sle<span style="font-size: 10px">e</span><span style="font-size: 8px">e</span><span style="font-size: 6px">p</span>
                </div>
              </div>

              
              

              
              <a href="/signup" role="button" class="btn btn-info" style="width:80%; opacity:1; text-transform: normal; margin-left: 10%; margin-top: 19px; margin-bottom: 3%;" ng-click="  authenticate('facebook')">  <i class="fa fa-facebook-official" style="font-size: 1.8em; vertical-align: -2px;
                margin-right: 10px;" aria-hidden="true"></i> Go ahead. <span style="color:white">Meet yourself.</a></span>
            </div>
          </div>
          </div>
        </div>
      </div>
      
      <br><br>
    </div>
  </div>
</div>
