<nav ng-controller="HeaderCtrl" class="navbar navbar-default navbar-static-top navbar-themefyi">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" style="font-family:'Unica One'; font-size:2em;">
              <span style="color:black">The</span><span style="color:#d43a2c; text-transform:uppercase;">me</span><span style="color:black; font-size:.7em">.fyi</span>
        </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/')}">
          <a href="/">
            <i class="fa fa-home header-icon" aria-hidden="true"></i>
            Home
          </a>
          </li>
<!--         <li ng-class="{ active: isActive('/contact')}">
          <a href="/contact">
            <i class="fa fa-envelope header-icon" aria-hidden="true"></i>
            Contact
          </a>
        </li> -->

        <ul ng-if="isAuthenticated()" class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              <i class="fa fa-question-circle header-icon" aria-hidden="true"></i>
              Questions <i class="caret"></i>
            </a>
              <ul class="dropdown-menu">
              <li ng-class="{ active: isActive('/question')}">
              <a href="/question">
                <i class="fa fa-random header-icon" aria-hidden="true"></i>
                Random Question
              </a>
            </li>
<!--             <li ng-class="{ active: isActive('/single-random-q')}">
              <a href="/single-random-q">
                <i class="fa fa-question-circle header-icon" aria-hidden="true"></i>
                Unanswered Random Question
              </a>
            <li class="divider"></li>
            </li>
            <li ng-class="{ active: isActive('/user/answers')}">
              <a href="/all-answers">
                <i class="fa fa-question-circle header-icon" aria-hidden="true"></i>
                All Answers from User
              </a>
            </li> -->
<!--             <li ng-class="{ active: isActive('/all-questions')}">
              <a href="/all-questions">
                <i class="fa fa-list header-icon" aria-hidden="true"></i>
                All Questions
              </a>
            </li> -->
            <li class="divider"></li>
            <li ng-class="{ active: isActive('/question-creator')}">
              <!-- <a href="/question-creator"> -->
                <i class="fa fa-magic header-icon" aria-hidden="true"></i>
                Question Creator - Coming soon!
              </a>
            </li>
            </ul>
          </li>
        </ul>


        <ul ng-if="isAuthenticated()" class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              <i class="fa fa-pie-chart header-icon" aria-hidden="true"></i>
              Reports <i class="caret"></i>
            </a>
              <ul class="dropdown-menu">
              <li ng-class="{ active: isActive('/facebook')}">
              <a href="/facebook">
                <i class="fa fa-facebook header-icon" aria-hidden="true"></i>
                Your Facebook Report
              </a>
            </li>

            <li ng-class="{ active: isActive('/charts')}">
              <a href="/charts">
                <i class="fa fa-area-chart header-icon" aria-hidden="true"></i>
                Correlation Reports
              </a>
            </li>
            
            </ul>
          </li>
        </ul>

          



<!--         <li ng-class="{ active: isActive('/charts')}">
          <a href="/charts">
            <i class="fa fa-pie-chart header-icon" aria-hidden="true"></i>
            Reports
          </a>
        </li> -->
        <li ng-class="{ active: isActive('/about')}">
          <a href="/about">
            <i class="fa fa-info-circle header-icon" aria-hidden="true"></i>
            About
          </a>
        </li>
      </ul>

      <ul ng-if="isAuthenticated()" class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
            <img ng-src="{{currentUser.picture || currentUser.gravatar}}"> {{currentUser.name || currentUser.email || currentUser.id}} <i class="caret"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/account">My Account</a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="logout()"}>Logout</a></li>
          </ul>
        </li>
      </ul>
      <ul ng-if="!isAuthenticated()" class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('/login')}"><a href="/login">Log in</a></li>
        <li ng-class="{ active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
      </ul>
    </div>
  </div>
</nav>
