<div class="container-fluid">
  <div class="row">
  <br><br>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel" style="opacity:.8">
        <div class="panel-body">
          <img src="http://i.imgur.com/lQv981o.png" style="text-align:center; width:28em; margin-left:auto; margin-right: auto; display: block;">
          <h2 style="text-align:center; color:#481212">putting the <strong>me</strong> in <strong>me</strong>trics</h2>
          <p> id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <a href="#" role="button" class="btn btn-warning" style="width:100%; opacity:1; text-transform: uppercase">Go ahead. Meet yourself.</a>
        </div>
      </div>
      
      <br><br>
    </div>
  </div>
</div>
