<div class="container-fluid">
  <div class="row">
  <br><br><br><br>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel" style="opacity:.8">
        <div class="panel-body">
          <div style="border: 0px solid #d43a2c; border-radius: 6px; ">
          <div style="width:80%; margin-left:10%">

            <div class="" style="font-family:'Unica One'; font-size:5em; text-align:center; width:100%">
                  <span style="color:black">The</span><span style="color:#d43a2c; text-transform:uppercase;">me</span><span style="color:black; font-size:.7em">.fyi</span>
            </div>
              <!-- <img src="http://i.imgur.com/lQv981o.png" style="text-align:center; width:28em; margin-left:auto; margin-right: auto; display: block;"> -->
            <div>
              <h2 style="text-align:center; color:#481212; margin-top:-10px; font-size:2.5em; font-family:'Josefin Sans'">the intersection of <span style="color:#d43a2c">them</span> & <span style="color:#d43a2c">me</span></h2>
              <p><span style="color:#696969;"> What are the things that make you unique? What are the things that we all share in common? theMe.fyi allows you to find themes across the population to help you better understand the nuances of your human experience.</span> </p>
              <p>Just by answering simple questions, we can explore the correlations that unite us, as well as the qualities that make us unique. </p>

              <p><span style="color:#696969;">We're putting the <span style="color:#d43a2c">me</span> in metrics.</span></p>
              <a href="/signup" role="button" class="btn btn-info" style="width:80%; opacity:1; text-transform: normal; margin-left: 10%; margin-top: 19px; margin-bottom: 3%;" ng-click="  authenticate('facebook')">  <i class="fa fa-facebook-official" style="font-size: 1.8em; vertical-align: -2px;
                margin-right: 10px;" aria-hidden="true"></i> Go ahead. <span style="color:white">Meet yourself.</a></span>
            </div>
          </div>
          </div>
        </div>
      </div>
      
      <br><br>
    </div>
  </div>
</div>
