<div class="container-fluid">

  <div class="row">
    <div class="section-header col-sm-6 col-sm-offset-3">
      <h1 style="color:white; font-size: 50px; text-transform: uppercase; text-shadow:1px 1px 1px black">Random Question</h1>
    </div>
  </div>
  <div class="row">



<a href="#" ng-click="getRandomUnansweredQforUser()">get random unanswered q</a>
{{singleRandomQ.text}}

  <!-- SINGLE SELECT QUESTIONS -->
  <div ng-show="singleRandomQ.inputType === 'single'" >
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default question-card">
        <div class="panel-heading question-heading">
          <h4>
          <span ng-switch on="singleRandomQ.category">
            <img ng-switch-when="Preferences" src='http://i.imgur.com/a0GQIN5.png' class="category-icon">
            <img ng-switch-when="Demographics" src='http://i.imgur.com/hLhYWk7.png' class="category-icon">
            <img ng-switch-when="Habits" src='http://i.imgur.com/xfzXFDr.png' class="category-icon">
            <img ng-switch-when="Health" src='http://i.imgur.com/y7qN843.png' class="category-icon">
            <img ng-switch-when="Family" src='http://i.imgur.com/htJgY7d.png' class="category-icon">
            <img ng-switch-when="Tidbits" src='http://i.imgur.com/J9C2l9D.png' class="category-icon">
            <img ng-switch-when="Romance" src='http://i.imgur.com/htJgY7d.png' class="category-icon">
            <img ng-switch-when="History" src='http://i.imgur.com/htJgY7d.png' class="category-icon">
            <img ng-switch-when="Facebook" src='http://i.imgur.com/HbMNcPk.png' class="category-icon">
            <img ng-switch-when="Media" src='http://i.imgur.com/NWy7czC.png' class="category-icon">
            <img ng-switch-default src='http://i.imgur.com/hLhYWk7.png' class="category-icon">
          </span>
          {{singleRandomQ.category}}
          </h4>
        </div>
        <div class="panel-body question-body">
          <div class="question-text-container random-question-text-container">
            <h3 class="question-text">{{singleRandomQ.text}}</h3>
          </div>
            <div class="content-container" >



              <!-- SHOW THE QUESTION -->
              <div class="question-container" ng-show="singleRandomQ.visible === true">
                <div ng-repeat="option in singleRandomQ.answerOptions track by $index" class="radio">
                  <label>
                    <input type="radio" 
                    name="optionsRadios" 
                    value="{{option}}"  
                    ng-model="$parent.answerText">
                    {{option.value}} 
                  </label>
                  
                </div>
              </div>
                <!-- SHOW THE ANSWERS -->
                <!-- When the question visibility is set to 'false' it means it's been answered -->
              <div class="graph-container"  ng-show="singleRandomQ.visible === false">                
                  <b>Your Answer:</b> {{answerText}}
                  <br>
                  <b>All Answers:</b>
                  <!-- Retrieve and show ONLY the answers to the current question -->
                  <div class="answers" ng-repeat="answer in answersSpecific" ng-show="currentRandomUnansweredQuestion(singleRandomQ,answer)">
                    
                    {{answer.value}}: {{answer.count}}

                    <!-- START GRAPH -->
                    <div ng-controller="ChartsCtrl">
                      <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
                    </div>
                    <!-- END GRAPH -->

                  </div>
                </div>

              </div>
            </div>
          

        
        <div class="panel-footer question-footer">
          <a href="#" role="button" class="btn btn-warning question-submit" ng-click="submitRandomSelectAnswer(singleRandomQ, answerText)" ng-show="singleRandomQ.visible === true">Submit</a>
          <a href="#" role="button" class="btn btn-link question-submit" ng-click="getRandomUnansweredQforUser()" ng-show="singleRandomQ.visible === true">Skip this Question</a>
          <a href="#" role="button" class="btn btn-info question-submit" ng-click="getRandomUnansweredQforUser()" ng-show="singleRandomQ.visible === false">Next Question</a>
          <a href="#" role="button" class="btn btn-link question-submit" ng-click="shareAnswer()" ng-show="singleRandomQ.visible === false">Share this Graph</a>
        </div>
      </div>
    </div>
  </div>

<!-- NUMBER QUESTIONS -->
  <div ng-show="singleRandomQ.inputType === 'number'">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default question-card">
        <div class="panel-heading question-heading">
          <h4>
          
          <span ng-switch on="singleRandomQ.category">
            <img ng-switch-when="Preferences" src='http://i.imgur.com/a0GQIN5.png' class="category-icon">
            <img ng-switch-when="Demographics" src='http://i.imgur.com/hLhYWk7.png' class="category-icon">
            <img ng-switch-when="Habits" src='http://i.imgur.com/xfzXFDr.png' class="category-icon">
            <img ng-switch-when="Health" src='http://i.imgur.com/y7qN843.png' class="category-icon">
            <img ng-switch-when="Family" src='http://i.imgur.com/htJgY7d.png' class="category-icon">
            <img ng-switch-when="Tidbits" src='http://i.imgur.com/J9C2l9D.png' class="category-icon">
            <img ng-switch-when="Romance" src='http://i.imgur.com/htJgY7d.png' class="category-icon">
            <img ng-switch-when="History" src='http://i.imgur.com/htJgY7d.png' class="category-icon">
            <img ng-switch-when="Facebook" src='http://i.imgur.com/HbMNcPk.png' class="category-icon">
            <img ng-switch-when="Media" src='http://i.imgur.com/NWy7czC.png' class="category-icon">
            <img ng-switch-default src='http://i.imgur.com/hLhYWk7.png' class="category-icon">
          </span>
          {{singleRandomQ.category}}
          </h4>
        </div>
        
        <div class="panel-body question-body">
          <div class="question-text-container random-question-text-container">
            <h3 class="question-text">{{singleRandomQ.text}}</h3>
          </div>

          <div class="content-container">
            <!-- SHOW THE QUESTION -->
              <div class="question-container" ng-show="singleRandomQ.visible === true">
                <div class="input-container">
                <label>
                  <input type="number" class="form-control" id="number" ng-model="answerText" placeholder="Your Answer">
                </label>
                </div>
              </div>

            <!-- SHOW THE GRAPH -->
              <div class="graph-container" ng-show="singleRandomQ.visible === false">
                <b>Your Answer:</b> {{answerText}}
                <br>
                <b>All Answers:</b>
                <div ng-controller="ChartsCtrl">
                  <canvas class="chart chart-line" chart-data="data" chart-labels="labels" 
                  chart-series="series" chart-click="onClick"></canvas> 
                </div>
                <div class="answers" ng-repeat="answer in answersSpecific" ng-show="currentRandomUnansweredQuestion(singleRandomQ,answer)">{{answer.answerText[0]}}
                </div>
              </div>
          </div>
        </div>

        <div class="panel-footer question-footer">
          <a href="#" role="button" class="btn btn-warning question-submit" ng-click="submitRandomInputAnswer(singleRandomQ, answerText)" ng-show="singleRandomQ.visible === true">Submit</a>
          <a href="#" role="button" class="btn btn-info question-submit" ng-click="getRandomUnansweredQforUser()" ng-show="singleRandomQ.visible === false">Next Question</a>
          <a href="#" role="button" class="btn btn-link question-submit" ng-click="getRandomUnansweredQforUser()" ng-show="singleRandomQ.visible === true">Skip this Question</a>
          <a href="#" role="button" class="btn btn-link question-submit" ng-click="shareAnswer(singleRandomQ, answerText)" ng-show="singleRandomQ.visible === false">Share this Graph</a>
        </div>
      </div>
    </div>
  </div>

  <!-- TEXT QUESTIONS -->
   <div ng-show="singleRandomQ.inputType === 'text'">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default question-card">
        <div class="panel-heading question-heading">
          <h4>
          
           <span ng-switch on="singleRandomQ.category">
            <img ng-switch-when="Preferences" src='http://i.imgur.com/a0GQIN5.png' class="category-icon">
            <img ng-switch-when="Demographics" src='http://i.imgur.com/hLhYWk7.png' class="category-icon">
            <img ng-switch-when="Habits" src='http://i.imgur.com/xfzXFDr.png' class="category-icon">
            <img ng-switch-when="Health" src='http://i.imgur.com/y7qN843.png' class="category-icon">
            <img ng-switch-when="Family" src='http://i.imgur.com/htJgY7d.png' class="category-icon">
            <img ng-switch-when="Tidbits" src='http://i.imgur.com/J9C2l9D.png' class="category-icon">
            <img ng-switch-when="Romance" src='http://i.imgur.com/htJgY7d.png' class="category-icon">
            <img ng-switch-when="History" src='http://i.imgur.com/htJgY7d.png' class="category-icon">
            <img ng-switch-when="Facebook" src='http://i.imgur.com/HbMNcPk.png' class="category-icon">
            <img ng-switch-when="Media" src='http://i.imgur.com/NWy7czC.png' class="category-icon">
            <img ng-switch-default src='http://i.imgur.com/hLhYWk7.png' class="category-icon">
          </span>
          {{singleRandomQ.category}}
          </h4>
        </div>        
        <div class="panel-body question-body">
          <div class="question-text-container random-question-text-container">
            <h3 class="question-text">{{singleRandomQ.text}}</h3>
          </div>

          <div class="content-container">
            <!-- SHOW THE QUESTION -->
              <div class="question-container" ng-show="singleRandomQ.visible === true">
                <div class="input-container">
                <label>
                  <input type="text" class="form-control" id="text" ng-model="answerText" placeholder="Your Answer">
                </label>
                </div>
              </div>

            <!-- SHOW THE GRAPH -->
              <div class="graph-container" ng-show="singleRandomQ.visible === false">
                <b>Your Answer:</b> {{answerText}}
                <br>
                <b>All Answers:</b>
                <div class="answers" ng-repeat="answer in answersSpecific" ng-show="currentRandomUnansweredQuestion(singleRandomQ,answer)">{{answer.answerText[0]}}
                </div>
              </div>
          </div>
        </div>

        <div class="panel-footer question-footer">
          <a href="#" role="button" class="btn btn-warning question-submit" ng-click="submitRandomInputAnswer(singleRandomQ, answerText)" ng-show="singleRandomQ.visible === true">Submit</a>
          <a href="#" role="button" class="btn btn-link question-submit" ng-click="getRandomUnansweredQforUser()" ng-show="singleRandomQ.visible === true">Skip this Question</a>
          <a href="#" role="button" class="btn btn-info question-submit" ng-click="getRandomUnansweredQforUser()" ng-show="singleRandomQ.visible === false">Next Question</a>
          <br>
          <a href="#" role="button" class="btn btn-link question-submit" ng-click="shareAnswer(singleRandomQ, answerText)" ng-show="singleRandomQ.visible === false">Share this Graph</a>
        </div>
      </div>
    </div>
  </div>



  </div>
</div>